{% extends "base/layout.html" %}
{% load static %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bills.css'%}">
{% endblock %}

{% block container %}
<div class="bills-form-div">
    <div class="row">
        <h3>申报人学号:{{object.user}} 申报人姓名:{{object.user.auth.first_name}}</h3>
        <h4>提交时间:{{object.created}} 最后修改时间:{{object.updated}}</h4>
    </div>
    <div class="row">
        <div class="col-sm-3">项目</div>
        <div class="col-sm-3">数量</div>
        <div class="col-sm-3">金额</div>
        <div class="col-sm-3">详细说明</div>
    </div>
    {% for bill_info in object.billinfos %}
    <div class="row data-row">
        <div class="col-sm-3">{{bill_info.get_type_display}}</div>
        <div class="col-sm-3">{{bill_info.count}}</div>
        <div class="col-sm-3">{{bill_info.amount}}</div>
        <div class="col-sm-3">{{bill_info.desc}}</div>
    </div>
    {% endfor%}
    <div class="row">
        <a href="{% url 'bills_sheet_list' %}" type="button" class="btn btn-info btn-sm">返回</a>
        <a href="{% url 'bills_sheet_update' object.uid %}" type="button" class="btn btn-success btn-sm">修改</a>
    </div>
</div>
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bills.js' %}"></script>
<script id="ajax_setup">$.ajaxSetup({beforeSend: function(xhr, settings){xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');}});$("#ajax_setup").remove();</script>
{% endblock %}
